@model List<About>

<section class="about">
    <div class="card mt-4 rounded-start" id="our-story">
        <div class="row">
            <div class="col-md-6">
                <img src="/perispanya/img/about_us.jpg" class="img-fluid" alt="cake" id="our-story-cake">
            </div>
            <div class="col-md-6">
                <div class="card-body" id="our-story-card">
                    <h2 class="card-title mb-4" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">OUR STORY</h2>
                    
                    @foreach (var item in Model) 
                    {
                        <p class="card-text" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                           • @item.Title
                        </p>
                    }
                
                </div>
            </div>
        </div>
    </div>
</section>