@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_DefaultHeadSectionComponentPartial")

<body>

	@await Component.InvokeAsync("_DefaultHeaderSectionComponentPartial")

	@await Component.InvokeAsync("_DefaultNavbarSectionComponentPartial")

	@await Component.InvokeAsync("_DefaultSliderSectionComponentPartial")

	<section class="fourcup">
		<div class="card-group mt-4" id="four-cup">
			<div class="card" style="border:5px solid #fff">
				<img src="/perispanya/img/cupcake4.jpg" class="card-img-top" alt="...">
			</div>
			<div class="card" style="border:5px solid #fff">
				<img src="/perispanya/img/puncake.jpg" class="card-img-top" alt="...">
			</div>
			<div class="card" style="border:5px solid #fff">
				<img src="/perispanya/img/cupcake2.jpg" class="card-img-top" alt="...">
			</div>
			<div class="card" style="border:5px solid #fff">
				<img src="/perispanya/img/cupcake4.jpg" class="card-img-top" alt="...">
			</div>
		</div>

	</section>

	@await Component.InvokeAsync("_DefaultAboutSectionComponentPartial")

	@await Component.InvokeAsync("_DefaultMenuSectionComponentPartial")

	@await Component.InvokeAsync("_DefaultFooterSectionComponentPartial")

	@await Component.InvokeAsync("_DefaultScriptSectionComponentPartial")

</body>
</html>
