@model Product

@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Products</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Update Product</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Update Product</a>
                </li>
            </ul>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Update Product Table</div>
                    </div>
                    <div class="card-body">

                        <form method="post" onsubmit="return validateForm()">
                            <input type="hidden" asp-for="ProductId" />
                            <label>Product Name</label>
                            <input type="text" asp-for="ProductName" class="form-control" />
                            <span asp-validation-for="ProductName" class="text-danger" style="display:block;"></span>
                            <br />
                            <label>Product Stock</label>
                            <input type="number" asp-for="Stock" class="form-control" />
                            <br />
                            <label>Product Price</label>
                            <input type="text" asp-for="Price" class="form-control" />
                            <br />
                            <label>Product Image</label>
                            <input type="text" asp-for="ImageUrl" class="form-control" />
                            <br />
                            <label>Product Description</label>
                            <input type="text" asp-for="Description" class="form-control" />
                            <br />
@*                             <label>Product Category</label>
                            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.categories"></select>
                            <br /> *@
                            <button class="btn btn-success">Update Product</button>
                        </form>

                        <script>
                            function validateForm() {
                                var ProductName = document.querySelector('input[name="ProductName"]').value;
                                if (ProductName.trim() === "") {
                                    alert("Product Name cannot be empty!");
                                    return false;
                                }
                                return true;
                            }
                        </script>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


