<section class="fourcup">
	<div class="card-group mt-4" id="four-cup">
		<div class="card" style="border:5px solid #fff">
			<img src="/perispanya/img/cupcake4.jpg" class="card-img-top" alt="...">
		</div>
		<div class="card" style="border:5px solid #fff">
			<img src="/perispanya/img/puncake.jpg" class="card-img-top" alt="...">
		</div>
		<div class="card" style="border:5px solid #fff">
			<img src="/perispanya/img/cupcake2.jpg" class="card-img-top" alt="...">
		</div>
		<div class="card" style="border:5px solid #fff">
			<img src="/perispanya/img/cupcake4.jpg" class="card-img-top" alt="...">
		</div>
	</div>

</section>
