<div class="card mt-4" id="footer-top">
    <div>
        <img src="/perispanya/img/stars.jpg" alt="" style="width: 100%;">
    </div>
</div>

<div class="card-group" id="contactus">
    <div class="card-body">
        <img src="/perispanya/img/logo1.png" alt="">

        <div class="card-text">
            <h5 style="font-family:none; font-size: 2rem;color: rgb(106, 70, 19);">LIKE &</h5>
            <h5 style="font-family:none;position: relative;bottom: .5rem; font-size: 2rem;color: rgb(106, 70, 19);">FOLLOW</h5>
        </div>

        <a href="https://www.instagram.com/perispanya/" target="_blank" style="color: rgb(106, 70, 19);font-size: 2rem;"><i class="fa-brands fa-instagram"></i></a>
        <a href="#" style="color: rgb(106, 70, 19);margin-left: 1rem; font-size: 2rem;"><i class="fa-brands fa-facebook"></i></a>
    </div>

    <div class="card-body">
        <img src="/perispanya/img/logo2.png" alt="">
        <div class="card-text">
            <h5 style="font-family:none; font-size: 2rem;color: rgb(106, 70, 19);">ORDER</h5>
            <h5 style="font-family:none;position: relative;bottom: .5rem; font-size: 2rem;color: rgb(106, 70, 19);">ONLINE</h5>
        </div>
        <a href="#" style="font-family: none;color: rgb(106, 70, 19);font-size: 1.2rem;">Click Here</a>
    </div>
</div>

<div id="footer-top">
    <img src="/perispanya/img/stars.jpg" alt="" style="width: 100%;">
</div>

<div class="container-footer" style="margin-top: 1.5rem;border: none;height: 3rem;">
    <p style="color: rgb(75, 75, 75);font-size: .6rem;text-align: center;font-family: Verdana, Geneva, Tahoma, sans-serif;">
        © 2025 by PerisPanya. Powered and secured by <a href="https://www.instagram.com/ozcanakyuz_/" style="font-family: Verdana, Geneva, Tahoma, sans-serif;border-bottom: 2rem; color: rgb(31, 31, 31);">OZCANAKYUZ</a>
    </p>
</div>
